Model/Fadm/Model/Schema/ProjectSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
 Copyright (c) 2015, Fadm. All rights reserved.
 
 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation; either
 version 2.1 of the License, or (at your option) any later version.
 
 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.
 
 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 MA 02110-1301  USA
 -->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:project-schema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Project">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Dependencies" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Dependency" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" minOccurs="1" maxOccurs="1">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="[\w\.]+"></xs:pattern>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Version" minOccurs="1" maxOccurs="1">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="\d+\.\d+\.\d+\.\d+"></xs:pattern>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Culture" minOccurs="0" maxOccurs="1">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="[\w][\w-]*[\w]"></xs:pattern>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Architecture" minOccurs="0" maxOccurs="1">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="Amd64"/>
                          <xs:enumeration value="Arm"/>
                          <xs:enumeration value="IA64"/>
                          <xs:enumeration value="MSIL"/>
                          <xs:enumeration value="None"/>
                          <xs:enumeration value="X86"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>